.BtnAddGoal{
    height: 3rem;
    width: 7rem;
    background-color: blueviolet;
    margin-top: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    box-shadow: 1px;
    border-radius: 3px;
}